<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="./../../frame/jquery/jquery.min.js"></script>
    <!--导入核心文件-->
    <script src="../../frame/bootstrap3/js/holder.js"></script>
    <link href="../../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>

    <link rel="stylesheet" type="text/css" href="../../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/footer.css"/>
    <title>商品列表</title>
</head>

<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <img src="../../images/index/stumalllogo.png"/>
        <img src="../../images/index/backend_header.png"/>
        <span class="pull-right"><a href="/admin/logout">退出后台系统</a></span>
    </header>
    <!--顶部导航栏-->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="#"><span class="fa fa-home"></span></a></li>
                <li><a href="userlist.html">用户列表</a></li>
                <li><a href="productlist.html">商品列表</a></li>
                <li><a href="orderslist.html">订单列表</a></li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="col-md-16">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--商品列表显示-->
                    <h4 style="text-align: center">商品列表</h4>
                    <div class="col-md-3" style="float: left;margin-bottom: 10px">
                        <el-input placeholder="请输入商品名称进行查询" v-model="searchData" class="input-with-select">
                            <el-button slot="append" icon="el-icon-search" @Click="findPage()"></el-button>
                        </el-input>
                    </div>
                    <div class="col-md-3" style="float: left;margin-bottom: 10px">
                        <el-select placeholder="请选择商品分类"
                                   v-model="typeData"
                                   @change="findPage()">
                            <el-option
                                    label="全部"
                                    value="">
                            </el-option>
                            <el-option v-for="category of type.categories" :key="category.id"
                                       :label="category.name" :value="category.id"></el-option>
                        </el-select>
                    </div>
                    <!-- dataList查询出来的列表，header-cell-style表头颜色,使用reserve-selection属性必须配合row-key -->
                    <el-table height="500" border :data="page.content" v-loading="loading"
                              :header-cell-style="{background:'#f9f9f9',color:'#333'}" row-key="id"
                              ref="multipleTable" style="font-size: 15px">
                        <el-table-column prop="id" label="商品id" min-width="8%"></el-table-column>
                        <el-table-column prop="categoryId" label="商品分类" min-width="8%">
                        </el-table-column>
                        <el-table-column prop="itemType" label="商品名称" min-width="10%"></el-table-column>
                        <el-table-column prop="title" label="商品全名" min-width="15%"></el-table-column>
                        <el-table-column prop="image" label="商品图片" min-width="15%">
                            <template slot-scope="scope">
                                <el-image
                                        :src="'http://127.0.0.1'+scope.row.image">
                                </el-image>
                            </template>
                        </el-table-column>
                        <el-table-column prop="price" label="价格" min-width="8%"></el-table-column>
                        <el-table-column prop="num" label="库存数量" min-width="8%"></el-table-column>
                        <el-table-column prop="status" label="状态" min-width="8%">
                            <template slot-scope="scope">   <!-- 将整个行对象封装为scope -->
                                {{scope.row.status== '0'?"上架":"下架"}}
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" min-width="20%">
                            <template slot-scope="scope">   <!-- 将整个行对象封装为scope -->
                                <el-button type="primary"
                                           size="mini"
                                           @click="handleUpdate(scope.row)"
                                >编辑
                                </el-button>
                                <el-button
                                        :type="scope.row.status == '0' ? 'danger' : 'success'"
                                        size="mini"
                                        @click="setStatus(scope.row)"
                                >{{scope.row.status == '1'?"上架":"下架"}}
                                </el-button>
                                <el-button
                                        type='danger'
                                        size="mini"
                                        @click="setDeleted(scope.row)"
                                >删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- 按钮组 -->
                    <div style="margin-top: 10px">
                        <tr>
                            <th colspan="6">
                                <el-button @click="handleAdd()" icon="el-icon-plus" type="primary" style="float: right">
                                    新增
                                </el-button>
                                <el-button type="info" @click="Next()" plain :disabled="page.lastPage"
                                           style="float: right;margin-right: 20px">下一页
                                </el-button>
                                <el-button type="info" @click="Previous()" plain :disabled="page.firstPage"
                                           style="float: right;margin-right: 20px">上一页
                                </el-button>
                            </th>
                        </tr>
                    </div>

                    <!-- 添加数据弹框 -->
                    <div class="add-form">
                        <el-dialog title="添加商品" :visible.sync="dialogFormVisible">
                            <el-form ref="elAdd" :model="elAdd" :rules="rules" label-position="right"
                                     label-width="100px" :clearable="true">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="商品名称" prop="itemType">
                                            <el-input v-model="elAdd.itemType" placeholder="请输入商品名称"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="商品分类" prop="categoryId">
                                            <el-select v-model="elAdd.categoryId" placeholder="请选择商品分类"
                                                       @input="getType()">
                                                <el-option v-for="category of type.categories" :key="category.id"
                                                           :label="category.name" :value="category.id"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>

                                    <el-col :span="24">
                                        <el-form-item label="商品全称" prop="title">
                                            <el-input v-model="elAdd.title" placeholder="请输入商品全称">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="商品图片" prop="image">
                                            <el-upload
                                                    class="avatar-uploader"
                                                    action="/file/upload"
                                                    :show-file-list="false"
                                                    list-type="picture-card"
                                                    :on-success="addSuccess"
                                                    :on-change="onChange"
                                                    ref="upload">
                                                <img v-if="addImage" :src="addImage" class="avatar">
                                                <i v-else class="el-icon-plus"></i>
                                            </el-upload>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="商品价格" prop="price">
                                            <el-input v-model="elAdd.price" placeholder="请输入商品价格"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="库存数量" prop="num">
                                            <el-input v-model="elAdd.num" placeholder="请输入库存数量"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="商品卖点" prop="sellPoint">
                                            <el-input v-model="elAdd.sellPoint" placeholder="请输入商品卖点"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="cancel()">取消</el-button>
                                <el-button @click="reset()">重置</el-button>
                                <el-button type="primary" @click="handleSave()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <!-- 修改i数据弹框 -->
                    <div class="updata-form">
                        <el-dialog title="修改数据" :visible.sync="dialogUpdateVisible">
                            <el-form ref="elUpdate" :model="elUpdate" :rules="rules" label-position="right"
                                     label-width="100px" :clearable="true">
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="商品名称" prop="itemType">
                                            <el-input v-model="elUpdate.itemType" placeholder="请输入商品名称"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12">
                                        <el-form-item label="商品分类" prop="categoryId">
                                            <el-select v-model="elUpdate.categoryId" placeholder="请选择商品分类"
                                                       @input="getType()">
                                                <el-option v-for="category of type.categories" :key="category.id"
                                                           :label="category.name" :value="category.id+''"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="24">
                                        <el-form-item label="商品全称" prop="title">
                                            <el-input v-model="elUpdate.title" placeholder="请输入商品全称">
                                            </el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="商品图片" prop="image">
                                            <el-upload
                                                    class="avatar-uploader"
                                                    action="/file/upload"
                                                    :show-file-list="false"
                                                    list-type="picture-card"
                                                    :on-success="updateSuccess"
                                                    :on-change="onChange"
                                                    ref="upload">
                                                <img v-if="elUpdate.image" :src="elUpdate.image" class="avatar">
                                                <i v-else class="el-icon-plus"></i>
                                            </el-upload>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="商品价格" prop="price">
                                            <el-input v-model="elUpdate.price" placeholder="请输入商品价格"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-form-item label="库存数量" prop="num">
                                            <el-input v-model="elUpdate.num" placeholder="请输入库存数量"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="商品卖点" prop="sellPoint">
                                            <el-input v-model="elUpdate.sellPoint" placeholder="请输入商品卖点"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="cancel()">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <div class="clearfix"></div>

    <footer class="footer">
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                计算2173 黄嘉源 202142051087
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../../images/index/ios.png" class="lf">
                    <img src="../../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../../images/index/erweima.png">
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="../../frame/axios/axios.min.js"></script>
<script src="../../js/backend/productlist.js"></script>
</html>