<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="./../../frame/jquery/jquery.min.js"></script>
    <!--导入核心文件-->
    <script src="../../frame/bootstrap3/js/holder.js"></script>
    <link href="../../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>

    <link rel="stylesheet" type="text/css" href="../../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/footer.css"/>
    <title>用户列表</title>
</head>

<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <img src="../../images/index/stumalllogo.png"/>
        <img src="../../images/index/backend_header.png"/>
        <span class="pull-right"><a href="/admin/logout">退出后台系统</a></span>
    </header>
    <!--顶部导航栏-->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="#"><span class="fa fa-home"></span></a></li>
                <li><a href="userlist.html">用户列表</a></li>
                <li><a href="productlist.html">商品列表</a></li>
                <li><a href="orderslist.html">订单列表</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--用户显示-->
                    <h4 style="text-align: center">用户列表</h4>
                    <div class="col-md-3" style="float: left;margin-bottom: 10px">
                        <el-input placeholder="输入用户名称进行查询" v-model="searchData" class="input-with-select">
                            <el-button slot="append" icon="el-icon-search" @Click="findPage()"></el-button>
                        </el-input>
                    </div>
                    <div class="col-md-3" style="float: left;margin-bottom: 10px">
                        <el-select v-model="statusData" filterable placeholder="请选择账号状态" @change="findPage()">
                            <el-option
                                    label="全部"
                                    value="">
                            </el-option>
                            <el-option
                                    label="启用"
                                    value="0">
                            </el-option>
                            <el-option
                                    label="禁用"
                                    value="1">
                            </el-option>
                        </el-select>
                    </div>
                    <!-- dataList查询出来的列表，header-cell-style表头颜色,使用reserve-selection属性必须配合row-key -->
                    <el-table height="205" border :data="page.content" v-loading="loading"
                              :header-cell-style="{background:'#f9f9f9',color:'#333'}" row-key="id"
                              ref="multipleTable" style="font-size: 14px">
                        <el-table-column prop="uid" label="用户ID" min-width="11%"></el-table-column>
                        <el-table-column prop="username" label="用户名" min-width="11%"></el-table-column>
                        <el-table-column prop="phone" label="手机号码" min-width="16%"></el-table-column>
                        <el-table-column prop="gender" label="性别" min-width="11%">
                            <template slot-scope="scope">   <!-- 将整个行对象封装为scope -->
                                {{scope.row.gender== '0'?"女":"男"}}
                            </template>
                        </el-table-column>
                        <el-table-column prop="status" label="状态" min-width="10%">
                            <template slot-scope="scope">   <!-- 将整个行对象封装为scope -->
                                {{scope.row.status== '0'?"启用":"禁用"}}
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" min-width="26%">
                            <template slot-scope="scope">   <!-- 将整个行对象封装为scope -->
                                <el-button
                                        :type="scope.row.status == '0' ? 'danger' : 'success'"
                                        size="mini"
                                        @click="setStatus(scope.row)"
                                >{{scope.row.status == '0'?"禁用":"启用"}}
                                </el-button>
                                <el-button
                                        type='danger'
                                        size="mini"
                                        @click="setDeleted(scope.row)"
                                >删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!-- 按钮组 -->
                    <div style="margin-top: 10px">
                        <tr>
                            <th colspan="6">
                                <el-button type="info" @click="Next()" plain :disabled="page.lastPage"
                                           style="float: right;margin-right: 20px">下一页
                                </el-button>
                                <el-button type="info" @click="Previous()" plain :disabled="page.firstPage"
                                           style="float: right;margin-right: 20px">上一页
                                </el-button>
                            </th>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <div class="clearfix"></div>
    <footer class="footer">
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                计算2173 黄嘉源 202142051087
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../../images/index/ios.png" class="lf">
                    <img src="../../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../../images/index/erweima.png">
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
<script src="../../frame/axios/axios.min.js"></script>
<script src="../../js/backend/userlist.js"></script>
</html>