<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="../../frame/jquery/jquery.min.js"></script>

    <!--导入核心文件-->
    <script src="../../frame/bootstrap3/js/holder.js"></script>
    <link href="../../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/orderConfirm.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/cart.css"/>
    <title>电脑商城</title>
</head>
<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <div class="row">
            <div class="col-md-3">
                <a href="../index.html">
                    <img src="../../images/index/stumalllogo.png"/>
                </a>
            </div>
            <!--快捷选项-->
            <div class="col-md-9 top-item">
                <ul class="list-inline pull-right">
                    <li><a href="../favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
                    <li class="li-split">|</li>
                    <li><a href="../orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
                    <li class="li-split">|</li>
                    <li><a href="../cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
                    <li class="li-split">|</li>
                    <li v-show="!userLoading"><a href="../../login.html"><span class="fa fa-user"></span>&nbsp;登录</a>
                    </li>
                    <li v-show="userLoading">
                        <!--下列列表按钮 ：管理-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span id="top-dropdown-btn">
                                        <img v-bind:src="user.avatar" style="width: 25px;height: 25px">
                                        &nbsp;{{user.username}}<span class="caret"></span>
                                    </span>
                            </button>
                            <ul class="dropdown-menu top-dropdown-ul" role="menu">
                                <li><a href="../admin/password.html">修改密码</a></li>
                                <li><a href="../admin/userdata.html">个人资料</a></li>
                                <li><a href="../admin/upload.html">上传头像</a></li>
                                <li><a href="../admin/address.html">收货管理 </a></li>
                                <li><a href="/user/logout">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--导航 -->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="../index.html"><span class="fa fa-home"></span></a></li>
                <li><a href="#">全部商品</a></li>
                <li><a href="#">联想专区</a></li>
                <li><a href="#">戴尔专区</a></li>
                <li><a href="#">其他配件</a></li>
            </ul>
        </div>
        <div class="col-md-3" style="float: right;margin-right: 5px">
            <el-input placeholder="请输入商品名称进行查询" v-model="searchData" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" @Click="searchContent()"></el-button>
            </el-input>
        </div>
    </div>

    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-4">
                <div class="col-md-12 order-bar-active">
                    1.确认订单信息
                    <span class="pull-right"><span class="fa fa-chevron-right"></span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 order-bar-undo">
                    2.在线支付
                    <span class="pull-right"><span class="fa fa-chevron-right"></span></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 order-bar-undo">
                    3.付款成功
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <div class="form-group">
                        <label>
                            <p>选择收货地址：</p>
                        </label>
                        <select name="aid" id="address-list" class="form-control">
                            <option>
                                --------- 请选择 ---------
                            </option>
                            <option v-for="address of addressList" :key="address.aid"
                                    :selected="address.isDefault == 1?true:false" :value="address.aid">
                                {{address.name}}&nbsp;&nbsp;&nbsp;{{address.tag}}&nbsp;{{address.address}}&nbsp;&nbsp;&nbsp;
                                {{address.phone.substring(0,4)}}***{{address.phone.substring(address.phone.length-5,address.phone.length-1)}}
                            </option>
                        </select>
                    </div>
                    <div class="panel panel-primary">
                        <!-- 购物车信息展示 -->
                        <div class="panel-heading">
                            <p class="panel-title">订单商品信息：</p>
                        </div>
                        <div class="panel-body">
                            <table class="cart-table" width="100%">
                                <thead>
                                <tr>
                                    <th width="15%"></th>
                                    <th width="35%">商品</th>
                                    <th width="15%">单价</th>
                                    <th width="15%">数量</th>
                                    <th width="20%">金额</th>
                                </tr>
                                </thead>
                                <tbody id="cart-list" class="cart-body">
                                <tr v-for="cart of cartList.content" :key="cart.cid">
                                    <td><img :src="'http://localhost'+cart.image+'collect.png'" class="img-responsive"/>
                                    </td>
                                    <td>{{cart.title}}</td>
                                    <td>¥<span>{{cart.price}}</span></td>
                                    <td>{{cart.num}}</td>
                                    <td><span>{{cart.realPrice}}</span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="total-bar">
                                &nbsp;
                                <span class="pull-right">已选商品
										<span id="all-count">{{CartCount.allProduct}}</span>件 总价¥
										<span id="all-price">{{CartCount.allmoney}}</span>元
									</span>
                            </div>
                        </div>
                    </div>
                    <div class="pay-bar">
                        <a href="../cart.html">返回购物车</a>
                        <button style="float: right" class="btn btn-primary btn-lg link-pay" @click="saveOrder()">在线支付
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <div class="clearfix"></div>
    <footer class="footer">
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>买家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">新手指南</a></li>
                        <li><a href="#">服务保障</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>商家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">商家入驻</a></li>
                        <li><a href="#">商家后台</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>关于我们</p>
                            </a>
                        </li>
                        <li><a href="#">关于圆心</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li>
                            <span class="fa fa-wechat"></span>
                            <span class="fa fa-weibo"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../../images/index/ios.png" class="lf">
                    <img src="../../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../../images/index/erweima.png">
                </div>
            </div>
        </div>
        <!-- 页面底部-备案号 #footer -->
        <div class="col-md-12 text-center bottom">
            计算2173 黄嘉源 202142051087
        </div>
    </footer>
</div>
</body>
<script src="../../frame/axios/axios.min.js"></script>
<script src="../../js/py/orderConfirm.js"></script>
</html>