<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="../frame/jquery/jquery.min.js"></script>

    <!--导入核心文件-->
    <script src="../frame/bootstrap3/js/holder.js"></script>
    <link href="../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../frame/bootstrap3/jquery-1.8.3.min.js"></script>
    <script src="../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../css/favorites.css"/>
    <link rel="stylesheet" type="text/css" href="../css/imgmove.css"/>
    <title>电脑商城</title>
</head>

<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <div class="row">
            <div class="col-md-3">
                <a href="index.html">
                    <img src="../images/index/stumalllogo.png"/>
                </a>
            </div>
            <!--快捷选项-->
            <div class="col-md-9 top-item">
                <ul class="list-inline pull-right">
                    <li><a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
                    <li class="li-split">|</li>
                    <li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
                    <li class="li-split">|</li>
                    <li><a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
                    <li class="li-split">|</li>
                    <li v-show="userLoading==false"><a href="../login.html"><span class="fa fa-user"></span>&nbsp;登录</a>
                    </li>
                    <li v-show="userLoading">
                        <!--下列列表按钮 ：管理-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span id="top-dropdown-btn">
                                        <img :src="user.avatar" style="width: 25px;height: 25px">
                                        &nbsp;{{user.username}}<span class="caret"></span>
                                    </span>
                            </button>
                            <ul class="dropdown-menu top-dropdown-ul" role="menu">
                                <li><a href="admin/password.html">修改密码</a></li>
                                <li><a href="admin/userdata.html">个人资料</a></li>
                                <li><a href="admin/upload.html">上传头像</a></li>
                                <li><a href="admin/address.html">收货管理 </a></li>
                                <li><a href="/user/logout">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--导航 -->
    <!--分割导航和顶部-->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="./index.html"><span class="fa fa-home"></span></a></li>
                <li><a href="#">全部商品</a></li>
                <li><a href="#">联想专区</a></li>
                <li><a href="#">戴尔专区</a></li>
                <li><a href="#">其他配件</a></li>
            </ul>
        </div>
        <div class="col-md-3" style="float: right;margin-right: 5px">
            <el-input placeholder="请输入商品名称进行查询" v-model="searchData" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" @Click="searchContent()"></el-button>
            </el-input>
        </div>
    </div>

    <div class="container" :loading="loading">
        <div class="col-md-offset-1 col-md-10"><b>我的收藏：</b></div>
        <div class="col-md-offset-1 col-md-10" v-for="(list,index) of pageData.content" :key="index">
            <!-- 收藏信息 -->
            <div class="col-md-3" v-for="collect of list" :key="collect.id">
                <div class="goods-panel">
                    <div class="move-img img-search"></div>
                    <img :src="'http://localhost'+collect.image+'collect.png'" class="img-responsive"/>
                    <p>¥{{collect.price}}</p>
                    <p class="text-row-3"><a :href="'product.html?id='+collect.pid"><small>{{collect.title}}</small></a>
                    </p>
                    <span>
                        <a :id="'collect'+collect.id" @click="deleteCollect(collect.id)"
                           class="btn btn-default btn-xs add-fav">
                            <span class="fa fa-heart"></span>取消收藏
                        </a>
                    </span>
                </div>

            </div>
        </div>

        <div class="col-md-offset-1 col-md-10">
            <p align="center">
                <a href="#">上一页</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">下一页</a>
            </p>
        </div>
    </div>

    <!--页脚开始-->
    <div class="clearfix"></div>
    <footer class="footer">
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                <div class="col-md-4">
                    <h5>常用功能</h5>
                    <ul>
                        <li><a href="">会员介绍</a></li>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">联系客服</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>配送方式</h5>
                    <ul>
                        <li><a href="">上门自取</a></li>
                        <li><a href="">限时到达</a></li>
                        <li><a href="">配送服务</a></li>
                        <li><a href="">收费标准</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>更多功能</h5>
                    <ul>
                        <li><a href="">关于我们</a></li>
                        <li><a href="">联系方式</a></li>
                        <li><a href="">查看更多</a></li>
                        <li><a href="">资质校验</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../images/index/ios.png" class="lf">
                    <img src="../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../images/index/erweima.png">
                </div>
            </div>
        </div>
        <!-- 页面底部-备案号 #footer -->
        <div class="col-md-12 text-center bottom">
            计算2173 黄嘉源 202142051087
        </div>
    </footer>
</div>
</body>
<script src="../frame/axios/axios.min.js"></script>
<script src="../js/page/favorites.js"></script>
</html>