<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="../frame/jquery/jquery.min.js"></script>

    <!--导入核心文件-->
    <script src="../frame/bootstrap3/js/holder.js"></script>
    <link href="../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../css/top.css" />
    <link rel="stylesheet" type="text/css" href="../css/footer.css" />
    <link rel="stylesheet" type="text/css" href="../css/order.css" />
    <title>电脑商城</title>
</head>

<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <div class="row">
            <div class="col-md-3">
                <a href="index.html">
                    <img src="../images/index/stumalllogo.png" />
                </a>
            </div>
            <!--快捷选项-->
            <div class="col-md-9 top-item">
                <ul class="list-inline pull-right">
                    <li><a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
                    <li class="li-split">|</li>
                    <li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
                    <li class="li-split">|</li>
                    <li><a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
                    <li class="li-split">|</li>
                    <li v-show="!userLoading"><a href="../login.html"><span class="fa fa-user"></span>&nbsp;登录</a></li>
                    <li v-show="userLoading">
                        <!--下列列表按钮 ：管理-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span id="top-dropdown-btn">
                                        <img v-bind:src="user.avatar" style="width: 25px;height: 25px">
                                        &nbsp;{{user.username}}<span class="caret"></span>
                                    </span>
                            </button>
                            <ul class="dropdown-menu top-dropdown-ul" role="menu">
                                <li><a href="admin/password.html">修改密码</a></li>
                                <li><a href="admin/userdata.html">个人资料</a></li>
                                <li><a href="admin/upload.html">上传头像</a></li>
                                <li><a href="admin/address.html">收货管理	</a></li>
                                <li><a href="/user/logout">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--导航 -->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="index.html"><span class="fa fa-home"></span></a></li>
                <li><a href="#">秒杀</a></li>
                <li><a href="#">优惠券</a></li>
                <li><a href="#">电脑VIP</a></li>
                <li><a href="#">外卖</a></li>
                <li><a href="#">超市</a></li>
            </ul>
        </div>
        <div class="col-md-3" style="float: right;margin-right: 5px">
            <el-input placeholder="请输入内容" v-model="searchData" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" @Click="searchContent()"></el-button>
            </el-input>
        </div>
    </div>

    <div class="container">
        <div class="col-md-2">
            <!--左侧导航开始-->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--主选项：我的订单-->
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">我的订单</a>
                        </p>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div><a @Click="getList(null)" href="#"><b>全部订单</b></a></div>
                            <div><a @Click="getList(0)" href="#">待付款</a></div>
                            <div><a @Click="getList(1)" href="#">待收货</a></div>
                            <div><a @Click="getList(4)" href="#">待评价</a></div>
                            <div><a href="#">退货退款</a></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--主选项：资料修改-->
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">资料修改</a>
                        </p>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div><a href="admin/password.html"><b>修改密码</b></a></div>
                            <div><a href="admin/userdata.html">个人资料</a></div>
                            <div><a href="admin/upload.html">上传头像</a></div>
                            <div><a href="admin/address.html">收货管理</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左侧导航结束-->
        <div class="col-md-10">
            <div class="panel panel-default" v-for="order of orderMap" :key="order.oid">
                <div class="panel-heading">
                    <p class="panel-title">
                        订单号：{{order.key.oid}}，下单时间：{{formatting(order.key.order_time)}} ，
                        收货人：{{order.key.recv_name}} ，支付时间：{{order.key.pay_time==null?'未支付':formatting(order.key.pay_time)}}
                        ，订单状态：{{showStatus(order.key.status)}}
                    </p>
                </div>
                <div class="panel-body">
                    <table class="orders-table" width="100%">
                        <thead>
                        <tr>
                            <th width="15%"></th>
                            <th width="30%">商品</th>
                            <th width="8%">单价</th>
                            <th width="8%">数量</th>
                            <th width="9%">小计</th>
                            <th width="10%">售后</th>
                            <th width="10%">状态</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody class="orders-body">
                        <tr v-for="item of order.value">
                            <td><img :src="'http://localhost:3000'+item.image+'collect.png'" class="img-responsive" /></td>
                            <td>{{item.title}}</td>
                            <td>¥<span>{{item.price}}</span></td>
                            <td>{{item.num}}件</td>
                            <td>¥<span>{{item.price*item.num}}</span></td>
                            <td><el-button type="text" @click="applyAfterSale(item.id)" :loading="afterSale" :disabled="order.key.status==2">申请售后</el-button></td>
                            <td>
                                <div>{{item.item_status==0?'未发货':'已发货'}}</div>
                                <div><a :href="'orderInfo.html?id='+item.id" :disabled="order.key.status==2">订单详情</a></div>
                            </td>
                            <td>
                                <a href="#" class="btn btn-default btn-xs" v-show="item.is_receive==false" @click="updateIs_receive(item.id)" :disabled="order.key.status==2">确认收货</a>
                                <a href="#" class="btn btn-default btn-xs" v-show="item.is_receive==true" :disabled="true">已收货</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <span class="pull-right">订单总金额：¥{{order.key.total_price}}</span><br>
                    </div>
                    <div style="margin-top: 10px">
                        <el-button size="medium" type="primary" style="float: right;" round @Click="payment(order.key.oid)" v-show="order.key.pay_time==null">支付</el-button>
                        <el-button size="medium" type="primary" style="float: right;margin-right: 20px" round @click="changeStatus(order.key.oid)" v-show="getStatus(order.key.status)">取消</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <div class="clearfix"></div>
    <footer class="footer">
        <!-- 品质保障，私人定制等-->
        <div class="text-center rights container">
            <div class="col-md-offset-2 col-md-2">
                <span class="fa fa-thumbs-o-up"></span>
                <p>品质保障</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-address-card-o"></span>
                <p>私人订制</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-graduation-cap"></span>
                <p>学生特供</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-bitcoin"></span>
                <p>专属特权</p>
            </div>
        </div>
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../../images/index/stumalllogo.png" alt="" class="footLogo" /></div>
                <div><img src="../../images/index/footerFont.png" alt="" /></div>
            </div>
            <div class="col-md-4 callus text-center">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>买家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">新手指南</a></li>
                        <li><a href="#">服务保障</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>商家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">商家入驻</a></li>
                        <li><a href="#">商家后台</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>关于我们</p>
                            </a>
                        </li>
                        <li><a href="#">关于圆心</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li>
                            <span class="fa fa-wechat"></span>
                            <span class="fa fa-weibo"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../../images/index/ios.png" class="lf">
                    <img src="../../images/index/android.png" alt="" class="lf" />
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../../images/index/erweima.png">
                </div>
            </div>
        </div>
        <!-- 页面底部-备案号 #footer -->
        <div class="col-md-12 text-center bottom">
            Copyright © 2022 dnsc.cn All Rights Reserved 京ICP备08963888号-45 <a target="_blank" href="http://www.dnsc.cn/">圆心科技集团有限公司</a> 版权所有
        </div>
    </footer>
</div>

</body>
    <script src="../frame/axios/axios.min.js"></script>
    <script src="../js/page/orders.js"></script>
</html>