<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="../frame/jquery/jquery.min.js"></script>

    <!--导入核心文件-->
    <script src="../frame/bootstrap3/js/holder.js"></script>
    <link href="../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../css/order.css"/>
    <title>订单</title>
</head>

<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <div class="row">
            <div class="col-md-3">
                <a href="index.html">
                    <img src="../images/index/stumalllogo.png"/>
                </a>
            </div>
            <!--快捷选项-->
            <div class="col-md-9 top-item">
                <ul class="list-inline pull-right">
                    <li><a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
                    <li class="li-split">|</li>
                    <li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
                    <li class="li-split">|</li>
                    <li><a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
                    <li class="li-split">|</li>
                    <li v-show="!userLoading"><a href="../login.html"><span class="fa fa-user"></span>&nbsp;登录</a></li>
                    <li v-show="userLoading">
                        <!--下列列表按钮 ：管理-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span id="top-dropdown-btn">
                                        &nbsp;{{user.username}}<span class="caret"></span>
                                    </span>
                            </button>
                            <ul class="dropdown-menu top-dropdown-ul" role="menu">
                                <li><a href="front/password.html">修改密码</a></li>
                                <li><a href="front/userdata.html">个人资料</a></li>
                                <li><a href="front/address.html">收货管理 </a></li>
                                <li><a href="/user/logout">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--导航 -->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="./index.html"><span class="fa fa-home"></span></a></li>
                <li><a href="search.html?typeData=">全部商品</a></li>
                <li><a href="search.html?typeData=1">戴尔专区</a></li>
                <li><a href="search.html?typeData=2">联想专区</a></li>
                <li><a href="search.html?typeData=3">配件专区</a></li>
            </ul>
        </div>
        <div class="col-md-3" style="float: right;margin-right: 5px">
            <el-input placeholder="请输入商品名称进行查询" v-model="searchData" class="input-with-select" clearable>
                <el-button slot="append" icon="el-icon-search" @Click="searchContent()"></el-button>
            </el-input>
        </div>
    </div>

    <div class="container">
        <div class="col-md-2">
            <!--左侧导航开始-->
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--主选项：我的订单-->
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">我的订单</a>
                        </p>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div><a @Click="getList(null)" href="#"><b>全部订单</b></a></div>
                            <div><a @Click="getList(0)" href="#">待支付</a></div>
                            <div><a @Click="getList(1)" href="#">待收货</a></div>
                            <div><a @Click="getList(3)" href="#">已完成</a></div>
                            <div><a @Click="getList(2)" href="#">已取消</a></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--主选项：资料修改-->
                        <p class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">资料修改</a>
                        </p>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div><a href="front/password.html"><b>修改密码</b></a></div>
                            <div><a href="front/userdata.html">个人资料</a></div>
                            <div><a href="front/address.html">收货管理</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--左侧导航结束-->
        <div class="col-md-10">
            <div class="panel panel-default" v-for="orders of ordersMap" :key="orders.oid">
                <div class="panel-heading">
                    <p class="panel-title">
                        订单号：{{orders.key.oid}}，
                        下单时间：{{formatting(orders.key.orderTime)}}，
                        收货人：{{orders.key.recvName}}，
                        手机号码：{{orders.key.recvPhone}}
                    </p>
                    <p class="panel-title">
                        收货地址：{{orders.key.recvProvince+"-"+orders.key.recvCity+"-"+orders.key.recvArea+"-"+orders.key.recvAddress}}，
                        支付时间：{{orders.key.payTime==null?'未支付':formatting(orders.key.payTime)}} ，
                        订单状态：{{showStatus(orders.key.status)}}
                    </p>
                </div>
                <div class="panel-body">
                    <table class="orders-table" width="100%">
                        <thead>
                        <tr>
                            <th width="15%"></th>
                            <th width="30%">商品</th>
                            <th width="8%">单价</th>
                            <th width="8%">数量</th>
                            <th width="9%">小计</th>
                            <th width="10%">状态</th>
                            <th width="10%">操作</th>
                        </tr>
                        </thead>
                        <tbody class="orders-body">
                        <tr v-for="item of orders.value">
                            <td><img :src="'http://127.0.0.1'+item.image" class="img-responsive"/></td>
                            <td>{{item.title}}</td>
                            <td>¥<span>{{item.price}}</span></td>
                            <td>{{item.num}}件</td>
                            <td>¥<span>{{item.price*item.num}}</span></td>
                            <td>
                                <div>{{item.itemStatus==0?'未发货':'已发货'}}</div>
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs" v-show="item.isReceive==false"
                                   @click="updateIsReceive(item.id)" :disabled="item.itemStatus==0">确认收货</a>
                                <a class="btn btn-default btn-xs" v-show="item.isReceive==true"
                                   :disabled="true">已收货</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <span class="pull-right">订单总金额：¥{{orders.key.totalPrice}}</span><br>
                    </div>
                    <div style="margin-top: 10px">
                        <el-button size="medium" type="primary" style="float: right;" round
                                   @Click="payment(orders.key.oid)"
                                   v-show="orders.key.status==0">支付
                        </el-button>
                        <el-button size="medium" type="primary" style="float: right;margin-right: 20px" round
                                   @click="changeStatus(orders.key.oid)" v-show="getStatus(orders.key.status)">取消
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <div class="clearfix"></div>
    <footer class="footer">
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                计算2173 黄嘉源 202142051087
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../images/index/ios.png" class="lf">
                    <img src="../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../images/index/erweima.png">
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
<script src="../frame/axios/axios.min.js"></script>
<script src="../js/page/orders.js"></script>
</html>