<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- elementUI -->
    <link rel="stylesheet" href="../frame/elementUI/lib-master/theme-chalk/index.css"/>
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="../frame/elementUI/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="../frame/elementUI/lib-master/index.js"></script>
    <!-- jquery -->
    <script src="../frame/jquery/jquery.min.js"></script>

    <!--导入核心文件-->
    <script src="../frame/bootstrap3/js/holder.js"></script>
    <link href="../frame/bootstrap3/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="../frame/bootstrap3/jquery-1.9.1.min.js"></script>
    <script src="../frame/bootstrap3/js/bootstrap.js"></script>
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../frame/bootstrap3/font-awesome-4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../css/top.css"/>
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../css/product.css"/>
    <link rel="stylesheet" type="text/css" href="../css/imgmove.css"/>
    <title>电脑商城</title>
</head>
<script>
    $(function () {
        /*图片变大的样式*/
        $(".move-img").hover(function () {
            $(this).animate({
                "background-size": "110%"
            }, "fast");
        }, function () {
            $(this).animate({
                "background-size": "100%"
            }, "fast");
        })
        /*商品小图片加鼠标移入加边框、移出移除边框*/
        $(".img-small").hover(function () {
                $(this).css("border", "1px solid #4288c3");
            },
            function () {
                $(this).css("border", "");
            })
        //点击时变化大图片
        $(".img-small").click(function () {
            //获得点击的小图片数据
            var n = $(this).attr("data");
            //所有大图隐藏
            $(".img-big").hide();
            //显示点击的小图对应的大图
            $(".img-big[data='" + n + "']").show();
        })
        //购物数量加1
        $("#numUp").click(function () {
            var n = parseInt($("#num").val());
            $("#num").val(n + 1);
        })
        //购物数量-1
        $("#numDown").click(function () {
            var n = parseInt($("#num").val());
            if (n == 1) {
                return;
            }
            $("#num").val(n - 1);
        })
        $(".img-big:eq(0)").show();
    });
</script>
<body>
<div id="app">
    <!--头部-->
    <header class="header">
        <!--电脑商城logo-->
        <div class="row">
            <div class="col-md-3">
                <a href="index.html">
                    <img src="../images/index/stumalllogo.png"/>
                </a>
            </div>
            <!--快捷选项-->
            <div class="col-md-9 top-item">
                <ul class="list-inline pull-right">
                    <li><a href="favorites.html"><span class="fa fa-heart"></span>&nbsp;收藏</a></li>
                    <li class="li-split">|</li>
                    <li><a href="orders.html"><span class="fa fa-file-text"></span>&nbsp;订单</a></li>
                    <li class="li-split">|</li>
                    <li><a href="cart.html"><span class="fa fa-cart-plus"></span>&nbsp;购物车</a></li>
                    <li class="li-split">|</li>
                    <li v-show="!userLoading"><a href="../login.html"><span class="fa fa-user"></span>&nbsp;登录</a></li>
                    <li v-show="userLoading">
                        <!--下列列表按钮 ：管理-->
                        <div class="btn-group">
                            <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span id="top-dropdown-btn">
                                        <img v-bind:src="user.avatar" style="width: 25px;height: 25px">
                                        &nbsp;{{user.username}}<span class="caret"></span>
                                    </span>
                            </button>
                            <ul class="dropdown-menu top-dropdown-ul" role="menu">
                                <li><a href="admin/password.html">修改密码</a></li>
                                <li><a href="admin/userdata.html">个人资料</a></li>
                                <li><a href="admin/upload.html">上传头像</a></li>
                                <li><a href="admin/address.html">收货管理 </a></li>
                                <li><a href="/user/logout">注销</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--导航 -->
    <div class="row top-nav">
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li>
                    <a href="#"></a>
                </li>
                <li class="active"><a href="./index.html"><span class="fa fa-home"></span></a></li>
                <li><a href="#">全部商品</a></li>
                <li><a href="#">联想专区</a></li>
                <li><a href="#">戴尔专区</a></li>
                <li><a href="#">其他配件</a></li>
            </ul>
        </div>
        <div class="col-md-3" style="float: right;margin-right: 5px">
            <el-input placeholder="请输入内容" v-model="searchData" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" @Click="searchContent()"></el-button>
            </el-input>
        </div>
    </div>
    <!--商品信息展示开始-->
    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="col-md-6">
                <div data="1" class="img-big move-img col-md-12">
                    <img id="product-image-1-big" :src="'http://localhost'+productData.image+'1_big.png'"
                         class="img-responsive"/>
                </div>
                <div data="2" class="img-big move-img col-md-12">
                    <img id="product-image-2-big" :src="'http://localhost'+productData.image+'2_big.png'"
                         class="img-responsive"/>
                </div>
                <div data="3" class="img-big move-img col-md-12">
                    <img id="product-image-3-big" :src="'http://localhost'+productData.image+'3_big.png'"
                         class="img-responsive"/>
                </div>
                <div data="4" class="img-big move-img col-md-12">
                    <img id="product-image-4-big" :src="'http://localhost'+productData.image+'4_big.png'"
                         class="img-responsive"/>
                </div>
                <div data="5" class="img-big move-img col-md-12">
                    <img id="product-image-5-big" :src="'http://localhost'+productData.image+'5_big.png'"
                         class="img-responsive"/>
                </div>
                <div data="1" class="col-md-2 img-small">
                    <img id="product-image-1" :src="'http://localhost'+productData.image+'1.jpg'"
                         class="img-responsive"/>
                </div>
                <div data="2" class="col-md-2 img-small">
                    <img id="product-image-2" :src="'http://localhost'+productData.image+'2.jpg'"
                         class="img-responsive"/>
                </div>
                <div data="3" class="col-md-2 img-small">
                    <img id="product-image-3" :src="'http://localhost'+productData.image+'3.jpg'"
                         class="img-responsive"/>
                </div>
                <div data="4" class="col-md-2 img-small">
                    <img id="product-image-4" :src="'http://localhost'+productData.image+'4.jpg'"
                         class="img-responsive"/>
                </div>
                <div data="5" class="col-md-2 img-small">
                    <img id="product-image-5" :src="'http://localhost'+productData.image+'5.jpg'"
                         class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-6">
                <h3 id="product-title" class="col-md-12 title-row-1">{{productData.title}}</h3>
                <p id="product-sell-point" class="col-md-12 text-row-1"><small>仅上海，广州，沈阳仓有货！预购从速！</small></p>
                <div class="col-md-12 price-bar">
                    <small>学员售价：</small> ¥<span id="product-price">{{productData.price}}</span>
                    <div><small>*退货补运费 *7天无理由退货 *24小时快速退款 </small></div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 form-space">
                        <label>数量：</label>
                        <el-input-number size="small" v-model="cartData.num" :min="1"
                                         :max="productData.num"></el-input-number>
                    </div>
                    <div class="col-md-12 form-space">
                        <p><small><b>电脑商城</b>发货并提供售后服务,今日下单,明日送达</small></p>
                    </div>
                    <div class="col-md-12 form-space">
                        <Button class="btn btn-primary btn-lg btn-block">立即购买</button>
                    </div>
                    <div class="col-md-12 form-space">
                        <button v-show="insertLoading==false" class="btn btn-default go-cart" @Click="insert()"><span
                                class="fa fa-cart-plus"></span> 加入购物车
                        </button>
                        <button v-show="insertLoading" class="btn btn-default go-cart" @Click="deleteCart()"><span
                                class="glyphicon glyphicon-ok"></span> 已加入购物车
                        </button>
                        <button v-show="collectLoading==false" class="btn btn-default go-cart" @Click="insertCollect()">
                            <span class="fa fa-heart"></span> 加入收藏
                        </button>
                        <button v-show="collectLoading" class="btn btn-default go-cart" @Click="deleteCollect()"><span
                                class="glyphicon glyphicon-ok"></span> 已加入收藏
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--商品信息展示结束-->
        <!--售后信息开始-->
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">售后保障</h2>
                </div>
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-md-1 saled-icon"><span class="fa fa-shield"></span></div>
                        <div class="col-md-11 saled-title">正品保障</div>
                    </div>
                    <div class="row">
                        <p class="col-md-offset-1 col-md-11 saled-content">电脑商城向您保证所售商品均为正品行货，电脑商城自营商品开具机打发票或电子发票。</p>
                    </div>
                    <div class="row">
                        <div class="col-md-1 saled-icon"><span class="fa fa-wrench"></span></div>
                        <div class="col-md-11 saled-title">厂家服务</div>
                    </div>
                    <div class="row">
                        <p class="col-md-offset-1 col-md-11 saled-content">本产品全国联保，享受三包服务，质保期为：二年质保</p>
                    </div>
                    <div class="row">
                        <div class="col-md-1 saled-icon"><span class="fa fa-heartbeat"></span></div>
                        <div class="col-md-11 saled-title">郑重承诺</div>
                    </div>
                    <div class="row">
                        <p class="col-md-offset-1 col-md-11 saled-content">电脑商城销售并发货的商品，由电脑商城提供发票和相应的售后服务。请您放心购买！
                            <br/>
                            注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-1 saled-icon"><span class="fa fa-globe"></span></div>
                        <div class="col-md-11 saled-title">全国联保</div>
                    </div>
                    <div class="row">
                        <p class="col-md-offset-1 col-md-11 saled-content">
                            凭质保证书及电脑商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由电脑商城联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。电脑商城还为您提供具有竞争力商品价格和运费政策，请您放心购买！
                            <br/>
                            注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-1 saled-icon"><span class="fa fa-reply"></span></div>
                        <div class="col-md-11 saled-title">无忧退货</div>
                    </div>
                    <div class="row">
                        <p class="col-md-offset-1 col-md-11 saled-content">
                            客户购买电脑商城商品7日内（含7日，自客户收到商品之日起计算），在保证商品完好的前提下，可无理由退货。（部分商品除外，详情请见各商品细则）</p>
                    </div>
                    <div class="saled-content">
                        <small><b>权利声明：</b><br/>
                            所有商品信息、商品咨询等内容，是电脑商城重要的经营资源，未经许可，禁止非法转载使用。<br/>
                            注：本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--页脚开始-->
    <footer class="footer">
        <!-- 品质保障，私人定制等-->
        <div class="text-center rights container">
            <div class="col-md-offset-2 col-md-2">
                <span class="fa fa-thumbs-o-up"></span>
                <p>品质保障</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-address-card-o"></span>
                <p>私人订制</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-graduation-cap"></span>
                <p>学生特供</p>
            </div>
            <div class="col-md-2">
                <span class="fa fa-bitcoin"></span>
                <p>专属特权</p>
            </div>
        </div>
        <!--联系我们、下载客户端等-->
        <div class="container beforeBottom">
            <div class="col-md-offset-1 col-md-3">
                <div><img src="../images/index/stumalllogo.png" alt="" class="footLogo"/></div>
                <div><img src="../images/index/footerFont.png" alt=""/></div>
            </div>
            <div class="col-md-4 callus text-center">
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>买家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">新手指南</a></li>
                        <li><a href="#">服务保障</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>商家帮助</p>
                            </a>
                        </li>
                        <li><a href="#">商家入驻</a></li>
                        <li><a href="#">商家后台</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>
                            <a href="#">
                                <p>关于我们</p>
                            </a>
                        </li>
                        <li><a href="#">关于圆心</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li>
                            <span class="fa fa-wechat"></span>
                            <span class="fa fa-weibo"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-5">
                    <p>电脑商城客户端</p>
                    <img src="../images/index/ios.png" class="lf">
                    <img src="../images/index/android.png" alt="" class="lf"/>
                </div>
                <div class="col-md-6">
                    <img style="width: 120px;height: 120px" src="../images/index/erweima.png">
                </div>
            </div>
        </div>
        <!-- 页面底部-备案号 #footer -->
        <div class="col-md-12 text-center bottom">
            Copyright © 2022 dnsc.cn All Rights Reserved 京ICP备08963888号-45 <a target="_blank"
                                                                              href="http://www.dnsc.cn/">圆心科技集团有限公司</a>
            版权所有
        </div>
    </footer>
</div>
</body>
<script src="../frame/axios/axios.min.js"></script>
<script src="../js/page/product.js"></script>
</html>